@charset "utf-8";

section {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 50px;
	perspective: 400px;
}
section article {
	width: 100%;
	height: 100%;
	background: blue;
	opacity: 0.3;
	transform: rotateY(0deg);

	/* 전환 효과를 줄 CSS 속성명을 지정 */
	transition-property: transform opacity;
	/* 전환 효과가 발생할 때 지속할 시간 (초 단위) */
	transition-duration: 1s;
	/* 전환 효과가 발생할 때 지연할 시간 (초 단위) */
	transition-delay: 0s;
	/* 전환 효과의 가속도 */
	transition-timing-function: cubic-bezier(0.46, -0.64, 0.58, 1.39);

	/* transition 축약문 */
	/* transition: 속성명 전환시간 가속도 지연시간 */
}
/* 마우스 포인터를 올리면 전환 효과 발생 */
section:hover article {
	transform: rotateY(45deg);
	background: red;
}
