div {
	width: 650px;
	margin: 100px auto;
	border: 1px solid #ccc;
	padding: 10px;
}
div img {
	width: 200px;
	margin: 6px;
}

/* 흐림 효과 조절 */
div img:nth-of-type(2) {
	filter: blur(3px);
}

/* 밝기 조절 */
div img:nth-of-type(3) {
	filter: brightness(0.5);
}

/* 명도 대비 조절 */
div img:nth-of-type(4) {
	filter: contrast(150%);
}

/* 흑백 지정 */
div img:nth-of-type(5) {
	filter: grayscale(100%);
}

/* 색상 단계 조절 */
div img:nth-of-type(6) {
	filter: hue-rotate(180deg);
}

/* 색상 반전 단계 조절 */
div img:nth-of-type(7) {
	filter: invert(100%);
}

/* 채도 조절 */
div img:nth-of-type(8) {
	filter: saturate(0.5);
}

/* 갈색 톤 단계 조절 */
div img:nth-of-type(9) {
	filter: sepia(100%);
}
