@charset "utf-8";

div {
	width: 200px;
	height: 200px;
	float: left;
	margin: 50px;
}
div:nth-of-type(1) {
	background: linear-gradient(to bottom, blue, red);
	border-radius: 30px;
}
div:nth-of-type(2) {
	background: linear-gradient(to top, blue, red);
	border-radius: 50%;
}
div:nth-of-type(3) {
	background: linear-gradient(to right, blue, red);
}
div:nth-of-type(4) {
	background: linear-gradient(to left, blue, red);
}
div:nth-of-type(5) {
	background: linear-gradient(45deg, blue, red);
}
