@charset "utf-8";

#wrap {
	width: 500px;
	height: 500px;
	border: 1px solid #000;
	padding: 100px;
	box-sizing: border-box;
	margin: 100px auto;
}
#wrap article {
	width: 100%;
	height: 100%;
	background: aqua;
	transition: 1s;
}

#wrap.on article {
	background: hotpink;
}
