@charset "utf-8";

section {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 50px;
}
section article {
	width: 100%;
	height: 100%;
	background: blue;
	/* 불투명도 지정 */
	opacity: 0.3;
}
section:nth-of-type(1) article {
	/* 요소를 1.3배 확대 */
	transform: scale(1.3);
}
section:nth-of-type(2) article {
	/* 요소를 20도만큼 비틈 */
	transform: skewX(20deg);
}
section:nth-of-type(3) article {
	/* 요소를 50px만큼 아래쪽으로 이동 */
	transform: translateY(50px);
}
section:nth-of-type(4) article {
	/* 요소를 45도만큼 회전 */
	transform: rotate(45deg);
}
