@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");

* {
	margin: 0px;
	padding: 0px;
}

/* 배경과 콘텐츠 영역 잡기 */
body {
	width: 100%;
	height: 100vh;
	overflow: hidden; /* 자식 콘텐츠가 브라우저 영역에서 벗어나면 스크롤바가 생기지 않게 함 */
	background-color: #b1e1e2;

	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: sky linear 20s infinite;
}
section {
	width: 1000px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	/* border: 1px solid red; */
}

/* 텍스트와 구름, 태양 배치하기 */
h1 {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 150%);
	font: 92px/1 "Poiret one";
	color: #fff;
	text-align: center;

	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: day linear 20s infinite;
}

section {
	width: 1000px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}
section .sky {
	position: absolute;
	width: 100%;
	height: 100%;
}

section .sky .sun {
	position: absolute;
	top: -150px; /* section 위쪽에서 살짝 더 위로 배치 */
	left: 50%;
	margin-left: -100px;
	transform-origin: center 500px; /* 태양의 중심축을 아래쪽으로 500만큼 이동 */

	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: sun linear 20s infinite;
}
section .sky .cloud1 {
	position: absolute;
	top: -30px;
	left: 10%;

	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: flow linear 10s infinite;
}
section .sky .cloud2 {
	position: absolute;
	top: 20px;
	left: 0%;

	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: flow linear 20s infinite;
}

/* 마을 건물 배치하기 */
section .town .circle {
	position: absolute;
	bottom: 104px;
	left: 50%;
	margin-left: -165px;
	opacity: 0.7;
	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: rotation linear 20s infinite;
}
section .town .night {
	position: absolute;
	bottom: 0px;
	left: 40px;
}
section .town .day {
	position: absolute;
	bottom: 0px;
	left: 40px;
	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: day linear 20s infinite;
}

/* 마을 사람들 배치하기 */
section .people {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: day linear 20s infinite;
}
section .people .man {
	position: absolute;
	left: 0%;
	bottom: 0px;
	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: flow linear 7s infinite;
}
section .people .family {
	position: absolute;
	left: 0%;
	bottom: 0px;
	/* animation: 이름 가속도 지연시간 반복횟수 */
	animation: flow linear 20s infinite;
}

/* 각 요소에 적용할 키프레임 설정하기 */
/* 애니메이션 세트 지정 */

/* 놀이기구 회전 */
@keyframes rotation {
	/* 시작 지점 */
	0% {
		transform: rotate(0deg);
	}
	/* 끝 지점 */
	100% {
		transform: rotate(360deg);
	}
}

/* 하늘 배경색 */
@keyframes sky {
	0% {
		background-color: #b08fcc;
	}
	25% {
		background-color: #b1e1e2;
	}
	50% {
		background-color: #fcd2e2;
	}
	75% {
		background-color: #636888;
	}
	100% {
		background-color: #b08fcc;
	}
}

/* 태양 회전 */
@keyframes sun {
	0% {
		opacity: 0;
		transform: rotate(-90deg);
	}
	25% {
		opacity: 1;
		transform: rotate(-30deg);
	}
	50% {
		opacity: 1;
		transform: rotate(30deg);
	}
	75% {
		opacity: 0;
		transform: rotate(90deg);
	}
	100% {
		opacity: 0;
		transform: rotate(-90deg);
	}
}

/* 밤에 특정 요소 숨기기 */
@keyframes day {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* 사람과 구름을 오른쪽으로 이동 */
@keyframes flow {
	0% {
		left: 0%;
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		left: 90%;
		opacity: 0;
	}
}
