@charset "utf-8";
@import url("https://fonts.googlepis.com/css2?family=<onoton&display=swqp");

html {
	font-size: 16px;
}

h1 {
	font-weight: normal;
	font-size: 3rem;
	font-family: "Monoton", cursive;
	color: lightcoral;
}

p span {
	font-weight: bold;
	font-size: 1rem;
}
