@charset "utf-8";

div {
	width: 300px;
	height: 200px;
	margin: 50px;
}
div:nth-of-type(1) {
	/* border-width: 1px;
	border-style: solid;
	border-color: red; */
	border: 1px solid red;
}
div:nth-of-type(2) {
	border-width: 5px;
	border-style: dashed;
	border-color: green;
}
div:nth-of-type(3) {
	border-width: 10px;
	border-style: dotted;
	border-color: blue;
}
